
<md-list-item class="list-item">
  <div *ngIf="!isEditing" class="task-item" [class.task-done]="done" [class.task-deleted]="task.deleted">
    <md-checkbox class="done-checkbox" [(ngModel)]="done">{{task.label}}</md-checkbox>
    <button md-mini-fab class="edit-btn" (click)="edit()"><md-icon>edit</md-icon></button>
    <button md-mini-fab class="delete-btn" (click)="delete()"><md-icon>delete</md-icon></button>
  </div>
  <div *ngIf="isEditing" class="task-item-edit">
    <p md-line style="height:0">&#160;</p>
    <md-input-container style="width:295px;">
      <textarea type="text" class="task-input"
             mdInput placeholder="Edit your dodo todo..."
             [(ngModel)]="task.label"
             (keyup.enter)="save()"></textarea>
    </md-input-container>
    <button md-mini-fab class="task-save-button" (click)="save()"><md-icon>save</md-icon></button>
  </div>
</md-list-item>
