.task-list-container{
    width: 413px;
    margin: 0 auto;
    margin-top: 30px;
}

.example-spacer {
  flex: 1 1 auto;
}

.fixed-bottom {
  overflow-y: hidden;
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  position: fixed;
  bottom: 0;
}

.hide {
  bottom: -130px;
}

.tiny-text{
  text-align: center;
  font-size: 12px;
  color: #6b6b6b;
  width: 100%;
}

::ng-deep .mat-list .mat-list-item .mat-list-item-content {
    min-height: 60px;
    height: auto !important;
}
