<form novalidate role="form" class="form input-group" [formGroup]="myForm" (ngSubmit)="createTask(myForm.value)">
  <md-input-container style="width:380px;max-width:100%">
    <input mdInput #inputBox name="addItem[input]" [formControl]="newItemControl" class="add-task-input" maxlength="140" placeholder="Todo...">
    <md-hint align="end">{{inputBox.value.length}} / 140</md-hint>
  </md-input-container>
  <button type="submit" md-mini-fab class="add-task-button" [disabled]="!myForm.valid"><md-icon>add</md-icon></button>
</form>
<md-list class="task-list-container">
  <app-task *ngFor="let task of tasks" [task]="task" (changed)="updateTask($event)"></app-task>
</md-list>
<md-toolbar class="fixed-bottom">

  <button md-button color="primary" class="toggle-completed-button" (click)="toggleCompletedTasks()">Toggle all</button>
  <span class="example-spacer"></span>
  <button md-button color="primary" class="delete-completed-button" [disabled]="!canDeleteCompletedTasks()" (click)="deleteCompletedTasks()">Remove done</button>

  <md-toolbar-row>
    <span class="tiny-text">Learning never ends &#9829; - Kevin Jones 2017</span>
  </md-toolbar-row>

</md-toolbar>
