.input-group {
  margin: auto;
  border: 1px solid #efefef;
  border-radius: 5px;
}

.task-list-container {
  padding: 15px 0;
}

.hide-delete {
  visibility: hidden;
}

.input-hinter {
  padding: 6px;
  background: #efefef;
  color: #5b5b5b;
  border-radius: 4px;
  margin-top: 10px;
}

.input-hinter .error {
  color: #EE0C19;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
  height: 34px;
}
